<%- include('includes/head.ejs') %>

    <div class="home-content">
        <div id="formcontainer">
            <form>

                <h1 style=text-align:center>Owner Details</h1>
                <div id="inputitem">
                    <h3>Name of PG</h3><input type="text" placeholder="Name Of PG" name="">
                </div>
                <div id="inputitem">
                    <h3>ID of PG</h3><input type="text" placeholder="ID Of PG" name="">
                </div>
                <div id="inputitem">
                    <h3>Name of Owner</h3><input type="text" placeholder="Name of owner" name="">
                </div>
                <div id="inputitem">
                    <h3>Contact OF Owner</h3><input type="text">
                </div>
                <div id="inputitem">
                    <h3>Name of Person-IN-Charge</h3><input type="text" placeholder="Person-IN-Charge" name="">
                </div>
                <div id="inputitem">
                    <h3>Contact of Person-IN-Charge</h3><input type="text">
                </div>
                <div id="inputitem">
                    <h3>Address</h3><input type="text" placeholder="Address" name="">
                </div>

                <div id="inputitem">
                    <h3> <label for="files">Upload Images </label></h3>
                    <input type="file" id="files" name="files" multiple>
                  </div>

                <h1 style=text-align:center>Availability Details</h1>

                <h3>Single</h3>
                <div id="inputitem">
                    <h3>Total</h3><input type="text">
                    <h3>Available</h3><input type="text">
                    <h3>Cost</h3><input type="text">
                </div>

                <h3>Double</h3>
                <div id="inputitem">
                    <h3>Total</h3><input type="text">
                    <h3>Available</h3><input type="text">
                    <h3>Cost</h3><input type="text">
                </div>

                <h3>Triple</h3>
                <div id="inputitem">
                    <h3>Total</h3><input type="text">
                    <h3>Available</h3><input type="text">
                    <h3>Cost</h3><input type="text">
                </div>

                <h3>Four Sharing</h3>
                <div id="inputitem">
                    <h3>Total</h3><input type="text">
                    <h3>Available</h3><input type="text">
                    <h3>Cost</h3><input type="text">
                </div>

                <h1 style=text-align:center>Food Menu (Breakfast/Lunch)</h1>

                <div id="inputitem">
                    <h3>Monday</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Tueday</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Wednesday</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Thursday</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Friday</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Saturday</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Sunday</h3><input type="text">
                </div>

                <h1 style=text-align:center>Food Menu (Dinner)</h1>

                <div id="inputitem">
                    <h3>Monday</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Tueday</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Wednesday</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Thursday</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Friday</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Saturday</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Sunday</h3><input type="text">
                </div>

                <h1 style=text-align:center>Additional Details</h1>

                <div id="inputitem">
                    <h3>In Out Time</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Security Deposit</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Safety And Security</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>WashRoom</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Cleaning And Maintainence</h3><input type="text">
                </div>

                <div id="inputitem">
                    <h3>Furniture</h3><input type="text">
                </div>

                <div id="inputitem">
                    <label for="Wifi">Wifi</label>
                    <input type="checkbox" id="Wifi" name="Wifi" value="Yes">
                </div>

                <div id="inputitem">
                    <label for="Laundry Services">Laundry Services</label>
                    <input type="checkbox" id="Laundry Services" name="Laundry Services" value="Yes">
                </div>

                <div id="inputitem">
                    <label for="WashRoom">WashRoom</label>
                    <input type="checkbox" id="WashRoom" name="WashRoom" value="Yes">
                </div>

                <div id="inputitem">
                    <label for="Matress">Matress</label>
                    <input type="checkbox" id="Matress" name="Matress" value="Yes">
                </div>

                <div id="inputitem">
                    <label for="Water Purifier And Cooler">Water Purifier And Cooler</label>
                    <input type="checkbox" id="Water Purifier And Cooler" name="Water Purifier And Cooler" value="Yes">
                </div>

                <div id="inputitem">
                    <label for="Washing Machine">Washing Machine</label>
                    <input type="checkbox" id="Washing Machine" name="Washing Machine" value="Yes">
                </div>

                <div id="inputitem">
                    <label for="FRIDGE">FRIDGE</label>
                    <input type="checkbox" id="FRIDGE" name="FRIDGE" value="Yes">
                </div>

                
                
                <div id="inputitem">
                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset">
                </div>

            </form>
        </div>
    </div>

    <%- include('includes/end.ejs') %>